<h1>Day Light</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="block col-md-3 " onclick="daylight(this)" id="yellow">Morning</div>
    <div class="col-md-1"> </div>
    <div class="block col-md-3" onclick="daylight(this)" id="orange">Afternoon</div>
    <div class="col-md-1"> </div>
    <div class="block col-md-3" onclick="daylight(this)" id="black">Evening</div>
  </div>
  <div class="row">
    <div class="block col-md-3 " id="output"></div>
  </div>

</div>
