<h1>Tic Tac</h1>

<div id="interact">
  <div class="row">
    <div class="block col-md-3" onclick="tictac(this)" id="1"> </div>
    <div class="block col-md-3" onclick="tictac(this)" id="2"> </div>
    <div class="block col-md-3" onclick="tictac(this)" id="3"> </div>
  </div>
  <div class="row">
    <div class="block col-md-3" onclick="tictac(this)" id="4"> </div>
    <div class="block col-md-3" onclick="tictac(this)" id="5"> </div>
    <div class="block col-md-3" onclick="tictac(this)" id="6"> </div>
  </div>
  <div class="row">
    <div class="block col-md-3" onclick="tictac(this)" id="7"> </div>
    <div class="block col-md-3" onclick="tictac(this)" id="8"> </div>
    <div class="block col-md-3" onclick="tictac(this)" id="9"> </div>
  </div>
</div>
